<div class="row">
    <div class="large-9 columns" style="height: 900px;background-color: white; background-size: 20px 25px;background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);border-right: 1px solid grey; border-bottom: 1px solid grey"></div>
    <div class="large-3 columns"><sidebar /></div>
</div>

<div>Hallo {{$ctrl.vm.name}}!</div>

<div ng-repeat="item in $ctrl.vm.list.toArray()">
    {{item}}
</div>

<button class="button" ng-click="$ctrl.increment()">increment</button>

Value of test is: {{$ctrl.test}}